.userPhoto {
  width: 100px;
}

.pageNumber {
  margin-right: 15px;
  margin-left: 15px;
  color: blue;
  cursor: pointer;
}

.activePageNumber {
  font-size: xx-large;
  font-weight: bold;
}