.nav {
  grid-area: n;
  background-color: green;
  padding-top: 30px;
}

.item {
  margin-left: 10px;
}

.item a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.item a.active {
  color: black;
}
